* {
	box-sizing: border-box;
}
body {
	margin: 0;
	width: 100%;
	height: 100vh;
	background: #aaaaaa;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
}

h1,
h2,
h3,
h4,
h5 {
	margin-top: 0;
	margin-bottom: 15px;
}
canvas {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#uiLeft {
	left: 0;
}

#uiRight {
	right: 0;
}

.ui {
	position: fixed;
	top: 0;
	width: 300px;
	height: 100vh;
	background: white;
}

input {
}

.uiInput {
	padding: 15px;
}
.uiInputWrapper {
	border-bottom: 1px solid #aaaaaa;
}

input[type='range'] {
	-webkit-appearance: none;
	width: 166px;
	margin: 4.5px 0;
}
input[type='range']:focus {
	outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
	width: 166px;
	height: 5px;
	cursor: pointer;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
	background: #aaaaaa;
	border-radius: 0px;
	border: 0px solid rgba(0, 0, 0, 0);
}
input[type='range']::-webkit-slider-thumb {
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
	border: 0px solid rgba(0, 0, 0, 0);
	height: 14px;
	width: 14px;
	border-radius: 100px;
	background: #000000;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -4.5px;
}
input[type='range']:focus::-webkit-slider-runnable-track {
	background: #b2b2b2;
}
input[type='range']::-moz-range-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
	background: #aaaaaa;
	border-radius: 0px;
	border: 0px solid rgba(0, 0, 0, 0);
}
input[type='range']::-moz-range-thumb {
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
	border: 0px solid rgba(0, 0, 0, 0);
	height: 14px;
	width: 14px;
	border-radius: 100px;
	background: #000000;
	cursor: pointer;
}
input[type='range']::-ms-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
input[type='range']::-ms-fill-lower {
	background: #a2a2a2;
	border: 0px solid rgba(0, 0, 0, 0);
	border-radius: 0px;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type='range']::-ms-fill-upper {
	background: #aaaaaa;
	border: 0px solid rgba(0, 0, 0, 0);
	border-radius: 0px;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type='range']::-ms-thumb {
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
	border: 0px solid rgba(0, 0, 0, 0);
	height: 14px;
	width: 14px;
	border-radius: 100px;
	background: #000000;
	cursor: pointer;
	height: 5px;
}
input[type='range']:focus::-ms-fill-lower {
	background: #aaaaaa;
}
input[type='range']:focus::-ms-fill-upper {
	background: #b2b2b2;
}
