* {
	box-sizing: border-box;
}
body {
	margin: 0;
	width: 100%;
	height: 100vh;
	background: #aaaaaa;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
}

h1,
h2,
h3,
h4,
h5 {
	margin-top: 0;
	margin-bottom: 15px;
}
canvas {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	cursor: -webkit-grab;
}
#interface {
	position: fixed;
	z-index: 10000;
	top: 2px;
	left: 2px;
}
.dg * {
}

.dg.main.taller-than-window .close-button {
	border-top: 1px solid #ddd;
}

.dg.main .close-button {
	background-color: white;
}

.dg.main .close-button:hover {
	background-color: white;
}

.dg {
	color: black;
	text-shadow: none !important;
}

.dg .cr.number input[type='text'] {
	color: black;
}

.dg .c .slider:hover .slider-fg {
	background: #aaaaaa;
}

.dg li.title {
	padding-left: 7px;
}

.dg .cr.number,
.dg .cr.string,
.dg .closed li {
	background: white;
	border: 0;
}

.dg.main::-webkit-scrollbar {
	background-color: white;
}

.dg.main::-webkit-scrollbar-thumb {
	background: #bbb;
}

.dg li:not(.folder) {
	background-color: white;
	border-bottom: 1px solid #ddd;
}

.dg li.save-row .button {
	text-shadow: none !important;
}

.dg li.title {
	background: white;
	font-weight: bold;
	text-transform: uppercase;
}

.dg .closed li.title {
	background: white;
}

.dg .cr.function:hover,
.dg .cr.boolean:hover {
	background: #aaaaaa;
}

.dg .c input[type='text'] {
	background-color: white;
}

.dg .c input[type='text']:hover {
	background: #eee;
}

.dg .c input[type='text']:focus {
	background: #eee;
	color: #555;
}

.dg .c .slider {
	background: #e9e9e9;
}

.dg .c .slider:hover {
	background: #eee;
}

.dg .c .slider-fg {
	background: black;
}
