:root {
  --main-color: #000000;
}

* {
  box-sizing: border-box;
  color: var(--main-color);
}
body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  width: 100%;
  height: 100vh;
  background: black;
}

.gui-val,
.gui-label {
  font-size: 13px;
}

.gui-val {
  font-family: "SuisseIntlMono", monospace;
}

#sketch {
  width: calc(100vw - 400px);
  position: fixed;
  top: 0;
  left: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  margin-bottom: 15px;
}
canvas {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: -webkit-grab;
}
#gui {
  z-index: 10000;
  min-height: 100vh;
  width: 400px;
  background: white;
}

#p5_loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: black;
  color: white;
  font-size: 100px;
  z-index: 99999999;
  display: flex;
  justify-content: center;
  align-items: center;
}

select {
  cursor: pointer;
}

h2 {
  font-size: 20px;
}

.gui-box {
  padding: 5px;
  margin: 5px;
  border: 1px solid var(--main-color);
}

.gui-group button {
  background: var(--main-color);
  outline: 0;
  color: white;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  padding: 4px;
}

.gui-group button,
.gui-group select {
  transition: all 1s ease;
}
.gui-group button:hover,
.gui-group select:hover {
  background: black;
}

.gui-group textarea {
  outline: 0;
  background: #eeeeee;
  width: 100%;
  resize: none;
  font-size: 11px;
  font-weight: bold;
  box-shadow: 0;
  border: none;
}

.gui-val {
  padding-left: 15px;
}

#overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  z-index: 999999;

  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: 1s all ease;
}

#overlay * {
  background: transparent;
  flex-basis: 200px;
  padding: 15px;
  outline: 0;
  box-shadow: none;
  border: 0;
  cursor: pointer;
}

#overlay img {
  border: 3px solid transparent;
  transition: all 0.4s ease;
}

#overlay img:hover {
  border: 3px solid black;
}

fieldset {
  border: 0;
  outline: 0;
}
.gui-wrapper {
}

.gui-group {
  padding: 15px;
}

.gui-group input,
.gui-group select {
  width: 100%;
}

.gui-group select {
  border-radius: 0;
  -webkit-appearance: none;
  background: var(--main-color);
  border: none;
  outline: 0;
  box-shadow: none;
  color: white;
  font-weight: bold;
  padding: 4px;
}

.gui-wrapper {
  margin: 10px 0;
  width: 100%;
  display: flex;
  align-items: center;
}

/* FLEXBOX PROPERTIES */

.gui-label {
  flex-grow: 1;
  flex-basis: 0;
}

.gui-input {
  flex-grow: 2;
  flex-basis: 0;
}

.gui-val {
  flex-grow: 0.5;
  flex-basis: 0;
}

input[type="range"] {
  height: 21px;
  -webkit-appearance: none;
  margin: 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px var(--main-color);
  background: #eeeeee;
  border-radius: 0px;
  border: 0px solid var(--main-color);
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px var(--main-color);
  border: 0px solid #00001e;
  height: 11px;
  width: 11px;
  border-radius: 100px;
  background: var(--main-color);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 2px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #eeeeee;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px var(--main-color);
  background: #eeeeee;
  border-radius: 0px;
  border: 0px solid var(--main-color);
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px var(--main-color);
  border: 0px solid #00001e;
  height: 11px;
  width: 11px;
  border-radius: 100px;
  background: var(--main-color);
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #eeeeee;
  border: 0px solid var(--main-color);
  border-radius: 0px;
  box-shadow: 0px 0px 0px var(--main-color);
}
input[type="range"]::-ms-fill-upper {
  background: #eeeeee;
  border: 0px solid var(--main-color);
  border-radius: 0px;
  box-shadow: 0px 0px 0px var(--main-color);
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px var(--main-color);
  border: 0px solid #00001e;
  height: 11px;
  width: 11px;
  border-radius: 100px;
  background: var(--main-color);
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #eeeeee;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #eeeeee;
}

#branding {
  padding: 15px;
}

#branding h1 {
  font-size: 36px;
  line-height: 100%;
}
/* 
@keyframes rotatey {
  0% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(12deg);
  }
  50% {
    transform: rotateY(0deg);
  }
  75% {
    transform: rotateY(-12deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

#sketch canvas {
  animation-name: rotatey;
  animation-duration: 10s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease;
} */

#sketch {
  perspective: 800px;
}

#overlay.visible {
  top: 0;
}

#overlay {
  top: 100vh;
}

.colorsWrapper {
  display: flex;
  width: 100%;
}

.colorsWrapper h4 {
  margin: 0;
  font-weight: normal;
  font-size: 13px;
}

.colorsWrapper #color-type,
.colorsWrapper #color-image,
.colorsWrapper #color-background {
  border: 1px solid var(--main-color);
  font-weight: normal;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  flex-basis: 1;
  flex-grow: 1;
  cursor: pointer;
}

.colorsWrapper #color-type.active,
.colorsWrapper #color-image.active,
.colorsWrapper #color-background.active {
  background: var(--main-color);
}
.colorsWrapper #color-type.active h4,
.colorsWrapper #color-image.active h4,
.colorsWrapper #color-background.active h4 {
  color: white;
}

/*
 =========================================
 Scrollbar
 =========================================
*/

/* width */
::-webkit-scrollbar {
  width: 12px;

  background: transparent;
  /* background: #cccccc;  */
}

/* Track */
::-webkit-scrollbar-track {
  background: #eeeeee;
}

/* Handle */
::-webkit-scrollbar-thumb {
  z-index: 10 !important;
  background: var(--main-color);
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333333;
}

/*
::selection {
  background: transparent; 
}
::-moz-selection {
  background: transparent; 
}

*/

.pcr-button {
  border: 1px solid black;
  width: 20px !important;
  height: 20px !important;
}

.pcr-app {
  z-index: 999999000 !important;
  position: absolute;
}
