:root {
	--main-color: #2103a8;
}

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	width: 100%;
	height: 100vh;
	background: black;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
}

#sketch {
	width: calc(100vw - 400px);
	position: fixed;
	top: 0;
	left: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.dg select {
	font-weight: bold;
	position: relative;
	left: -5px;
	background: #e9e9e9;
	border: 0;
	font-family: monospace;
	border-radius: 0px;
	color: var(--main-color);
	box-shadow: 0;
	outline: 0;
	min-width: 153px;
}

h1,
h2,
h3,
h4,
h5 {
	margin-top: 0;
	margin-bottom: 15px;
}
canvas {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	cursor: -webkit-grab;
}
#gui {
	position: fixed;
	z-index: 10000;
	top: 2px;
	left: 2px;
}
.dg .close-button {
	display: none;
}

.dg.main.taller-than-window .close-button {
	border-top: 1px solid #ddd;
}

.dg.main .close-button {
	background-color: white;
}

.dg.main .close-button:hover {
	background-color: white;
}

.dg {
	color: var(--main-color);
	text-shadow: none !important;
	background: #ffffff;
	font-size: 13px;
}

.dg .cr.number input[type='text'] {
	color: var(--main-color);
}

.dg .c .slider:hover .slider-fg {
	background: var(--main-color);
}

.dg li.title {
	padding-left: 7px;
}

.dg .cr.number,
.dg .cr.string,
.dg .closed li {
	background: white;
	border: 0;
}

.dg.main::-webkit-scrollbar {
	background-color: white;
}

.dg.main::-webkit-scrollbar-thumb {
	background: #bbb;
}

.folder {
	border-top: 2px solid var(--main-color);
}

.dg li:not(.folder) {
	background-color: white;
	border-bottom: 1px solid #ddd;
}

.dg li.save-row .button {
	text-shadow: none !important;
}

.dg li.title {
	background: white;
	font-weight: bold;
	padding-top: 8px;
	border: 0;
	text-transform: uppercase;
}

.dg .closed li.title {
	background: white;
}

.dg .cr.function:hover,
.dg .cr.boolean:hover {
	background: #aaaaaa;
}

.dg .c input[type='text'] {
	background-color: white;
	font-family: monospace;
	color: var(--main-color) !important;
}

.dg .c input[type='text']:hover {
	background: #eee;
}

.dg .c input[type='text']:focus {
	background: #eee;
	color: #555;
}

.dg .c .slider {
	background: #e9e9e9;
}

.dg .c .slider:hover {
	background: #eee;
}

.dg .c .slider-fg {
	background: var(--main-color);
}

#uiUnderlay {
	position: fixed;
	left: 0;
	width: 410px;
	height: 100vh;
	background: white;
}
select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: none;
	padding: 3px;
}

.dg li:not(.folder) {
	height: 40px;
}
.dg li.save-row .button.gears,
.dg li.save-row .button.save,
.dg li.save-row .button.save-as,
.dg li.save-row .button.revert {
	background: var(--main-color) !important;
}

.dg li.save-row .button.gears {
	width: 20px;
	height: 16px;
}

.dg.dialogue {
	background: white;
}

.cr.function {
	text-align: center;
	padding: 3px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid var(--main-color) !important;
}

.cr.function * {
}

#p5_loading {
	position: fixed;
	top: 100px;
	left: 600px;
	color: white;
	font-size: 100px;
}

select {
	cursor: pointer;
}
